@import "src/styles/index";

.container__box {
  @include flex_space_around;
}

.visible {
  visibility: hidden !important;
}

.discard__button {
  color: white;
  background-color: blue !important;
}

.submit__button {
  background-color: white;
  color: blue;
}

.button {
  margin-top: 5rem;
}
